{% extends "base.html" %}
{% block content %}
<main>
    <section class="background-cover bg-dark  pb-5 position-relative pt-5 text-white" style="background-image:url({{url_for('static',filename = 'files/' + gallery.image_header)}});">
        <div class="container mb-5 mt-5 pb-5 pt-5">
            <div class=" pb-5 pg-empty-placeholder pt-5"></div>
        </div>
    </section>
    <section class="pb-3 position-relative pt-3 shadow">
        <div class="container">
            <div class="align-items-center gy-3 row">
                <div class="col-lg-auto">

                    <img src="{{url_for('static',filename = 'files/' + gallery.image_thumbnail)}}" width="120" height="120" alt="Business Logo"/>
                </div>
                <div class="col-lg">
                    <h1 class="fw-bold h3  text-dark">{{post.title}}</h1>
                    <hr/>
                    <div class="align-items-center gy-3 row">
                        <div class="col-sm">
                            <div class="align-items-center gy-3 row">
                                <div class="col-md-auto">
                                    <h2 class="fw-normal h6 mb-1 text-dark">Category</h2>
                                    <div class="small">
                                        <span>{{post.category}}</span>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <h2 class="fw-normal h6 mb-1 text-dark">Reviews</h2>
                                    <div class="small">
                                        <div class="fb-like" data-href="http://127.0.0.1:5000/post/{{slug}}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="false"></div>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <h2 class="fw-normal h6 mb-1 text-dark">Price Range</h2>
                                    <div class="small">{{post.price_range}}</div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-sm-auto">
                            <a class="align-items-center btn btn-outline-primary d-inline-flex pe-3 ps-3 rounded-pill" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" class="me-1">
                                    <g>
                                        <path fill="none" d="M0 0H24V24H0z"/>
                                        <path d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"/>
                                    </g>
                                </svg><span>Save</span></a>
                            <a class="align-items-center btn btn-outline-secondary d-inline-flex pe-3 ps-3 rounded-pill" href="#"><span>Book an Adventure</span></a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5">
        <div class="container pb-2 pt-2">
            <div class="gx-lg-5 gy-4 row">
                <div class="col-lg-5 col-xl-4 order-lg-1">
                    <div class="gy-3 gy-lg-3 gy-md-4 row row-cols-lg-1 row-cols-md-2">
                        <div class="col-md-12">
                            <div class="bg-light p-4">
                                <iframe src="{{post.gis}}" height="350" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0" width="100%" class="d-block" title="Pinegeow location map"></iframe>
                            </div>
                        </div>
                        <div>
                            <div class="bg-light h-100 p-4">
                                <h2 class="h5 text-dark">Contact Info</h2>
                                <hr/>
                                <div class="mb-3">
                                    <div class="g-0 mb-2 row">
                                        <div class="col-auto">
                                            <svg viewBox="0 0 24 24" fill="currentColor" height="1rem" width="1rem" class="me-2 text-primary">
                                                <path d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"></path>
                                            </svg>
                                        </div>
                                        <div class="col">Bulusan Sorsogon</div>
                                    </div>
                                    <div class="g-0 mb-2 row">
                                        <div class="col-auto">
                                            <svg viewBox="0 0 24 24" fill="currentColor" height="1rem" width="1rem" class="me-2 text-primary">
                                                <path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"></path>
                                            </svg>
                                        </div>
                                        <div class="col">
                                            <a href="mailto:info@company.com" class="link-secondary text-decoration-none">{{post.contact_email}}</a>
                                        </div>
                                    </div>
                                    <div class="g-0 mb-2 row">
                                        <div class="col-auto">
                                            <svg viewBox="0 0 24 24" fill="currentColor" height="1rem" width="1rem" class="me-2 text-primary">
                                                <path d="M9.366 10.682a10.556 10.556 0 0 0 3.952 3.952l.884-1.238a1 1 0 0 1 1.294-.296 11.422 11.422 0 0 0 4.583 1.364 1 1 0 0 1 .921.997v4.462a1 1 0 0 1-.898.995c-.53.055-1.064.082-1.602.082C9.94 21 3 14.06 3 5.5c0-.538.027-1.072.082-1.602A1 1 0 0 1 4.077 3h4.462a1 1 0 0 1 .997.921A11.422 11.422 0 0 0 10.9 8.504a1 1 0 0 1-.296 1.294l-1.238.884zm-2.522-.657l1.9-1.357A13.41 13.41 0 0 1 7.647 5H5.01c-.006.166-.009.333-.009.5C5 12.956 11.044 19 18.5 19c.167 0 .334-.003.5-.01v-2.637a13.41 13.41 0 0 1-3.668-1.097l-1.357 1.9a12.442 12.442 0 0 1-1.588-.75l-.058-.033a12.556 12.556 0 0 1-4.702-4.702l-.033-.058a12.442 12.442 0 0 1-.75-1.588z"></path>
                                            </svg>
                                        </div>
                                        <div class="col">
                                            <a href="tel:+0 123-456-789" class="link-secondary text-decoration-none">{{post.contact_number}}</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div class="bg-light h-100 p-4">
                                <h2 class="h5 text-dark">Opening Hours</h2>
                                <hr/>
                                {%for opening_hours in destination_opening_hours%}
                                <div class="align-items-center g-0 mb-2 row">
                                    <div class="col">
                                        <h3 class="h6 mb-0 text-dark">{{opening_hours[0]}}</h3>
                                    </div>
                                    <div class="col-auto">
                                        <span>{{opening_hours[1]}}</span>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-8 order-lg-0">
                    <h2 class="h5 mb-3 text-dark">About&nbsp;</h2>
                    <p>{{post.content | safe}}</p>
                    <hr class="mb-4 mt-4"/>
                    <hr class="mb-4 mt-4"/>
                    <h2 class="h5 mb-3 text-dark">Accomodation Gallery</h2>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{url_for('static',filename = 'files/' + gallery.image_1)}}" class="img-fluid w-100" alt="Location image" width="900" height="500"/>
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static',filename = 'files/' + gallery.image_2)}}" class="img-fluid w-100" alt="Location image" width="900" height="500"/>
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static',filename = 'files/' + gallery.image_3)}}" class="img-fluid w-100" alt="Location image" width="900" height="500"/>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </a>
                    </div>
                    <hr class="mb-4 mt-4"/>
                    <h2 class="h5 mb-3 text-dark">Submit a Review</h2>
                    <form>
                        <div class="mb-3">
                            <div class="fb-like" data-href="https://traveldestinationinbulusan.com/post/{{post.slug}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
                        </div>
                    </form>
                    <!-- MpRfyb69-->
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce={{post.slug}}></script>
                    <div class="fb-comments" data-href="https://traveldestinationinbulusan.com/post/{{post.slug}}" data-width="100%" data-numposts="10"></div>

                </div>
            </div>
        </div>
    </section>
</main>


{% endblock %}